@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

main {
    width: 100%;
    padding: 0 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A2A33;
}

.divCroixRond {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 8px;
}

.firstSec {
    background-color: #1F3641;
    box-shadow: 0px -8px 0px 0px rgba(16, 33, 42, 1) inset;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #A8BFC9;
    margin-bottom: 1.5rem;
}

.firstSec div {
    background-color: #1A2A33;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.choixX, .choixO {
    background-color: #1A2A33;
    border: none;
    width: 100%;
    padding: 11px 0;
}

.choixO {
    background-color: #A8BFC9;
    border-radius: 10px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #A8BFC9;
    margin-top: 1.5rem;
}

.lastSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cpu, .player {
    background-color: #F2B137;
    box-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
    padding: 14px 5rem;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 14px 0 22px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

a {
    color: #1A2A33;
    text-decoration: none;
}

.player {
    background-color: #31C3BD;
    box-shadow: 0px -8px 0px 0px rgba(17, 140, 135, 1) inset;
}

@media screen and (min-width: 768px) {
    main {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 30%;
    }
}