@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    background-color: #1A2A33;
}

.divOpacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 50%;
    background-color: #000;
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

header div {
    display: flex;
}

.divCroixRondHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}

.divTurn {
    display: flex;
    align-items: center;
    gap: 9px;
    box-shadow: 0px -4px 0px 0px rgba(16, 33, 42, 1) inset;
    padding: 9px 15px 13px 15px;
    border-radius: 5px;
}

.turn {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: silver;
    letter-spacing: 0.88px;
}

.reload {
    border: none;
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px rgba(107, 137, 151, 1) inset;
    height: 100%;
    padding: 12px;
    cursor: pointer;
	background-color: Silver;
}

.firstArt {
    width: 100%;
    padding: 0 1.5rem;
    position: absolute;
    top: 25%;
    left: 0;
    display: none;
}

.divCroixRond {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 8px;
}

.firstSec {
    background-color: #1F3641;
    box-shadow: 0px -8px 0px 0px rgba(16, 33, 42, 1) inset;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #A8BFC9;
    margin-bottom: 1.5rem;
}

.firstSec div {
    background-color: #1A2A33;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.choixX, .choixO {
    background-color: #1A2A33;
    border: none;
    width: 100%;
    padding: 11px 0;
}

.choix {
    background-color: #A8BFC9;
    border-radius: 10px;
}

.choixX img {
    width: 32px;
    height: 32px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #A8BFC9;
}

.lastSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cpu, .player {
    background-color: #F2B137;
    box-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
    padding: 14px 5rem;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 14px 0 22px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

a {
    color: #1A2A33;
    text-decoration: none;
}

.player {
    background-color: #31C3BD;
    box-shadow: 0px -8px 0px 0px rgba(17, 140, 135, 1) inset;
}

.lastArt {
    display: flex;
    flex-direction: column;
}

.secBlockGame {
	display: grid;
	grid-template-columns: repeat(3, 92px);
	grid-template-rows: repeat(3, 92px);
    justify-content: center;
	gap: 31px;
    padding: 1rem;
}

.pion {
	border: none;
    border-radius: 10px;
    box-shadow: 0px -8px 0px 0px rgba(16, 33, 42, 1) inset;
	width: 100%;
	height: 100%;
    cursor: pointer;
	background-color: #1F3641;
}

#imgBtn {
    width: 40px;
}

.secCounterWin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    gap: 31px;
}

.playerDiv{
    text-align: center;
    color: black;
    width: 100%;
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    border-radius: 10px;
}

.playerDiv p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #1A2A33;
    margin-top: 1.5rem;
}

span {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #1A2A33;
}

.blue {
    background-color: #31C3BD;
}

.gray {
    background-color: #A8BFC9;
}

.orange {
    background-color: #F2B137;
}

.SecFirstPlayerWin {
    display: none;
    position: absolute;
    top: 35%;
    left: 0;
    background-color: #1F3641;
    width: 100%;
    z-index: 2;
}

.SecLastPlayerWin {
    display: none;
    position: absolute;
    top: 35%;
    left: 0;
    background-color: #1F3641;
    width: 100%;
    z-index: 2;
}

.SecRestart {
    position: absolute;
    top: 35%;
    left: 0;
    background-color: #1F3641;
    width: 100%;
    z-index: 2;
    padding-top: 4rem;
    text-align: center;
    display: none;
}

.SecReload {
    position: absolute;
    top: 35%;
    left: 0;
    background-color: #1F3641;
    width: 100%;
    z-index: 2;
    padding-top: 4rem;
    text-align: center;
    display: none;
}

.pWin {
    color: #A8BFC9;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    margin: 2.5rem 0 1rem 0;
}

.divH2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rondH2 {
    color: #F2B137;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.croixH2, .rondH2 {
    color: #31C3BD;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.rondH2 {
    color: #F2B137;
}

.restartH2 {
    color: #A8BFC9;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.divBtn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0 3rem 0;
}

.quit, .NO {
    padding: 15px 16px 17px 16px;
    background-color: #A8BFC9;
    box-shadow: 0px -4px 0px 0px rgba(107, 137, 151, 1) inset;
    border: none;
    border-radius: 10px;
}

a, .quit, .NO {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

.next {
    padding: 15px 16px 17px 16px;
    background-color: #F2B137;
    box-shadow: 0px -4px 0px 0px rgba(204, 139, 19, 1) inset;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    header {
        width: 67%;
        margin: 0;
    }

    .firstArt {
        width: 50%;
        left: 25%;
    }

    .secBlockGame {
        grid-template-columns: repeat(3, 140px);
        grid-template-rows: repeat(3, 140px);
    }
    
    .secCounterWin {
        margin: auto;
    }

    #imgBtn {
        width: 64px;
    }

    .pWin {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .rondH2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
    
    .croixH2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    .restartH2 {
        margin-bottom: 1.5rem;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 2.5px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    header {
        width: 36%;
    }

    .firstArt {
        width: 30%;
        left: 35%;
    }
    
    .secCounterWin {
        margin: auto;
    }

}